/* // PC screen // */
@media screen and (min-width: 993px) {
    .copyright{
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

/* // Tablet // */
@media screen and (max-width: 992px) {
    .copyright{
        color: white;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

/* // Phone // */
@media screen and (max-width: 600px) {
    .copyright{
        color: white;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}